

.row {	
	width:100%;
}
.flex
{
	display: flex;
	flex-wrap: wrap;
}
.col-1{
	width:8.33%;
}
.col-2{
	width:16.66%;
}
.col-3{
	width:25%;
}
.col-4{
	width:33.33%;
}
.col-5{
	width:41.66%;
}
.col-6{
	width:50%;
}
.col-7{
	width:58.33%;
}
.col-8{
	width:66.66%;
}
.col-9{
	width:75%;
}
.col-10{
	width:83.33%;
}
.col-11{
	width:91.66%;
}
#Fondo
{
	width: 100%;
}
#FotoSobreMi
{
    position: relative;
    width: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;

}
.container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}
.skills {
    text-align: right; /* Right-align text */
    padding: 5px; /* Add some padding */
    color: white; /* White text color */
}
.Elect{width: 90%; background-color:  #900c3f}
.Visual{width: 80%; background-color:  #c7185b}
.C{width: 80%; background-color:  #cd457c}
.Matlab{width: 60%; background-color:  #F2739c}
.Ingles{width: 60%; background-color:  #cccccc}
.Redes{width: 50%; background-color:  #7a7879}